div{
    text-align: center;
}
p {
    font-weight: bold;
    font-size: 20px;
}
.preço{
    
}

.desconto{
    color: red;
    text-decoration: underline;
}


.em-estoque{
    color: green;
}

.sem-estoque{
    color:red
}